<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ggcode.devknife">

    <!-- Window -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- IO -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- Setting -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>

        <activity
            android:launchMode="singleTop"
            android:name="com.ggcode.devknife.ui.home.DevToolsActivity"
            android:theme="@style/DK.Theme"/>

        <activity
            android:name="com.ggcode.devknife.ui.base.ContainerActivity"
            android:theme="@style/DK.Theme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.ggcode.devknife.ui.base.TransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DK.Theme.Translucent"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="com.ggcode.devknife.knife.tools.appinfo.info.AppInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DK.Theme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.ggcode.devknife.knife.tools.appinfo.list.AppListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DK.Theme"
            android:windowSoftInputMode="stateHidden"/>

        <provider
            android:authorities="${applicationId}.debugfileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="com.ggcode.devknife.manager.DebugFileProvider">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/debug_provider_paths"/>
        </provider>

    </application>
</manifest>
